
<footer class="bg-light py-3">
  <div class="container hight">
    <div class="small text-center text-muted">Copyright © 2020 - <S>Natapatchara Anuroje</S> <b> วงในชวนชิม</b> </div>
  </div>
</footer>
