<!DOCTYPE html>
<html>
<head>
<style>
 

 body {
  background-image: url("https://media.discordapp.net/attachments/361424692172816387/773484998467649546/unknown.png?width=957&height=677");  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.login{
  text-align: center;
  margin-top: 150px;
  border: 2px solid black;
  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 200px;
  padding: 30px;
  
}

.header555{
  margin-top: 100px;
  text-align: center;
}

 
</style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link  href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>

<body>
 <div class ="header555">

  <img src="https://media.discordapp.net/attachments/361424692172816387/773495494777372673/uoJSHdx704AAAAASUVORK5CYII.png" alt="TU" >


 </div>

  
  <div class="login">
  
  <form action="/api">
  <label class for="user">เลขทะเบียนนักศึกษา:</label><br>
  <input type="text" id="user" placeholder="เลขทะเบียนนักศึกษา" name="user" value=""><br>
  <label for="pwd">รหัสผ่าน:</label><br>
  <input type="password" id="pwd" placeholder="รหัสผ่าน" name="pwd" value=""><br><br>
  <input type="submit" value="เข้าสู่ระบบ">
    <input type="reset" value="ยกเลิก">
  
</form> 
  </div>

</body>
</html>

